<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Fantasy Caddy</h1>
    <p>Make sure your fantasy lineup is always up to date.</p>
    <!-- <p><a class="btn btn&#45;primary btn&#45;lg" href="#" role="button">Learn more »</a></p> -->
  </div>
</div>
